<img src="../../assets/homeimg.jpg" class="img-fluid" alt="Responsive image">

<h5>KWKM Kempische Surf club Mol</h5>

Voor elke surfer hebben we prima mogelijkheden qua materiaal en accomodatie. Maar ook niet-surfers beleven bij ons de tijd van hun leven!

Wat zijn de voordelen voor onze leden:

*Gratis surfen op een toplocatie.

* Materiaal gebruiken tegen democratische prijzen.

*Je ben automatisch lid bij het WWSV(Wind & Watersport Vlaanderen) en verzekerd voor burgelijke aansprakenlijkheid t.o.v derden.

*Kortingen bij clubactiviteiten en andere organisaties.